/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration 
 */

@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}
.font-tangerine {
  font-family: 'Tangerine', cursive !important;
}
@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 47.4% 11.2%);
  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(222.2 47.4% 11.2%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(222.2 47.4% 11.2%);
  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-primary: hsl(222.2 47.4% 11.2%);
  --color-primary-foreground: hsl(210 40% 98%);
  --color-secondary: hsl(210 40% 96.1%);
  --color-secondary-foreground: hsl(222.2 47.4% 11.2%);
  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);
  --color-destructive: hsl(0 100% 50%);
  --color-destructive-foreground: hsl(210 40% 98%);
  --color-ring: #c79385;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.text-primary {
  color: #c79385;
}
.bg-primary {
  background: #c79385;
}
